.env
**/__pycache__/
.venv/
pollen_counting_results/
detected/
detect_images/

/.quarto/
**/*.quarto_ipynb

# Large data files and directories
sam_b.pt
visualizations.zip
_site/
dataset_ran_ado/
sample_tiles/
verification_viz/
*.zip
*.jpg
*.txt
!requirements.txt
!.github/**/*.yml
!src/**/*.py
!k8s/**/*.yaml
