.env
**/__pycache__/
.venv/
pollen_counting_results/
detected/
detect_images/

/.quarto/
**/*.quarto_ipynb

# Large data files and directories
sam_b.pt
visualizations.zip
_site/
dataset_ran_ado/
dataset_colorado/
dataset_general_v1/
sample_tiles/
verification_viz/
models/
venv_preview/
kubectl
*.jpg
*.txt
*.zip
*.log
*.pt
!requirements.txt
!.github/**/*.yml
!src/**/*.py
!k8s/**/*.yaml

results/Gen_alg/master_results_summary.csv
